body {
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  
}

.form-container {
  max-width: 700px;
  margin: 80px auto; 
  padding: 20px; 
  background-color: #fff;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.form-container h1 {
  margin-bottom: 20px; 
  font-size: 22px; 
  text-align: center; 
}

.form-group {
  margin-bottom: 20px; 
}

.form-group label {
  display: block;  
  margin-bottom: 5px; 
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
  width: 100%; 
  padding: 10px; 
  font-size: 18px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box; 
}

.form-group textarea {
  height: 100px; 
  resize: vertical; 
}

.form-group select.error,
.form-group input[type="text"].error,
.form-group input[type="date"].error,
.form-group textarea.error {
  border-color: red; 
}

.error-message {
  color: red; 
  font-size: 16px; 
  margin-top: 5px; 
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.button {
  padding: 10px 20px; 
  font-size: 20px; 
  border: none;
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.button-save {
  background-color: #007bff; 
  color: white; 
  width:70px;
  height:45px ;
}

.button-cancel {
  background-color: #dc3545; 
  color: white; 
  width:73px;
  height:45px ;
}

.button-save:hover {
  background-color: #0056b3; 
}

.button-cancel:hover {
  background-color: #c82333; 
}

@media (max-width: 600px) {
  .form-container {
      padding: 15px;
  }

  .form-group input[type="text"],
  .form-group input[type="date"],
  .form-group select,
  .form-group textarea {
      font-size: 14px; 
  }

  .button {
      padding: 8px 16px; 
      font-size: 14px; 
  }
}
